body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 70, 92);
}

.container {
    width: 500px;
    margin-top: 150px;
    background-color: rgb(18, 19, 20);
    padding: 30px;
    border-radius: 30px;
}

input {
    width: 500px;
    background: none;
    border: none;
    outline: none;
    text-align: right;
    font-size: 56px;
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 10px;
    caret-color: transparent;
}

input:placeholder-shown {
    opacity: 0;
}

input:not(:placeholder-shown) {
    opacity: 1;
    transition: opacity 0.2s easy;
}

.box {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 15px;
}

button {
    padding: 20px 10px;
    font-size: 30px;
    color: white;
    border-radius: 30px;
    border: none;
}

button:hover {
    filter: brightness(1.4);
    transition: filter 0,2s easy;
}

button:active {
    filter: brightness(1.5);
}

.options {
    background-color: #555;
}

.number {
    background-color: #333;
}

.operation {
    background-color: cadetblue;
}